.header{
	/*background-color: #2B3856;*/
	background-color: #2C3539;
	/*background-color: rgb(3, 59, 100);
*/	color: white;
	padding: 15px 0px;
}

#myWeb{
	color: white;
	padding: 0px 50px;
}
#same{
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	transition: 1s;

}
#same:hover{
	background-color: darkcyan;
	color: white;
	transform: scale(1.3);
}
/*.nav-item{
	margin: 0px 20px;
	padding: 0px 20px;
	border-radius: 10px;
	color: white;
}*/
.nav-link{
	color: white;
	font-weight: bold;
}

.registrationSection{
	background-color: salmon;
	margin: 10px 0px;
	box-shadow: 10px 10px 10px black;
	border-radius: 10px;
}

.registrationTitile h1{
	margin: 10px 0px;
	padding: 10px 0px;
	text-align: center;
	color: white;

}
.form{
	text-align: center;
	padding: 20px 0px;
}
.inputForm input{
	max-width: 390px;
	margin: 5px 0px;
	padding: 5px 20px;
	background-color: black;
	color: white;
	border-radius: 10px;
}
.radio h1{
	margin: 20px 40px;
	font-size: 40px;
	font-weight: bold;
	color: white;
}
.radioBtn{
	margin-left: 50px;
	font-size: 20px;
	font-weight: bold;
	color: black;
}
.selectBox h1{
	margin: 20px 40px;
	font-size: 40px;
	font-weight: bold;
	color: white;
}
.select{
	margin: 0px 40px;
    width: 300px;
}
.select option{
	
	background-color: black;
	color: white;
}
.btn{
	width: 100%;
	text-align: center;
}
.btn button{
	width: 200px;
	padding: 5px 0px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	background-color: green;
	color: white;
	margin: 20px 0px;
	text-align: center;
}

/*footerSection*/

/*.footer{
	width: 100%;
	height: 400px;
	background-color: darkslateblue;
	margin-top: 20px;
	margin-bottom: 50px;
	box-shadow: 10px 10px 10px gray;
	border-radius: 10px;
}
.titleHeading{
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-align: center;
	margin-top: 50px;
}
.someInfo{
	margin-top: 40px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 0px 30px;
}
.mediaIcon{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center
}*/

.myFooterSection{
	margin: 50px 0px;
	background-color: black;
	color: white;
	padding: 20px 0px;
	box-shadow: 10px 10px 10px gray;
	border-radius: 10px;
}
.myColCard{
	background-color: hotpink;
	display: flex;
	justify-content: center;
	padding: 20px 20px; 
}
